<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Biblioteca
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-toolbar>
  <ion-searchbar placeholder="Buscar libros"
                 animated
                 debounce="700"
                 [value]="searchTerm"
                 (ionChange)="getLibros( $event )"></ion-searchbar>
</ion-toolbar>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" class="ion-padding">

    <button ion-button block (click)="irAtras()" style="border-radius: 3px; padding: 10px; background: rgb(32, 32, 32);margin-bottom: 10px;">
      Ir atrás
    </button>


   
    
    <ion-list>
      <ion-item button *ngFor="let libro of this.libros" [routerLink]="['./detalle',libro.isbn[0]]">
        <ion-thumbnail slot="start">
          <img src="https://covers.openlibrary.org/b/id/{{libro.isbn[2]}}-M.jpg">
        </ion-thumbnail>
        <ion-label>
        <h5>{{ libro.title }}</h5>
        <p><b>Autor:</b> {{libro.author_name}}</p>
        <p><b>Año:</b> {{libro.first_publish_year}}</p>
        
      </ion-label>
      </ion-item>
  </ion-list>
  </div>
</ion-content> 

