<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Inicio</ion-title>
    </ion-toolbar> </ion-header
  >,
  <ion-content fullscreen>
    <ion-card>
      
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>Biblioteca</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Aplicación desarrollada por Javier Campos. A continuación puede consultar más información sobre el autor
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-app>
